/* app.css */
 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
 
*, *::before, *::after {
  box-sizing: border-box;
}
 
body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
 
  display: flex;
  flex-direction: column;
}
 
header.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  padding-block: 1rem;
  z-index: 999;
}
 
header.navbar-container .logo img {
  width: 150px;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: #f84451;
  color: white;
}

section {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;

    display: flex;
    align-items: center;
}

section .content {
    flex: 1;
    display: flex;
    align-items: center;
}

section .content .content-description {
    flex: 1 1;
}

section .content .content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
}

section .content .content-description p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}

section .content .content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #f4313f;
    cursor: pointer;
    transition: all .15s ease-in;
  }
   
  section .content .content-description button:hover {
    border: 3px solid #f4313f;
    color: #f4313f;
    background-color: transparent;
  }
   
  section .content .content-image {
    flex: 1;
    display: flex;
  }
   
  section .content .content-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
  }

  section nav {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
  }
   
  section nav .social-media {
    height: 100%;
    display: flex;
  }
   
  section nav .social-media ul {
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #f4313f;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
   
  section nav .social-media li {
    list-style-type: none;
  }

  section nav .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
  }
   
  section nav .social-media li a:hover {
    color: #89b0d9;
  }

  footer {
    background-color: #f4313f;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer .footer-container {
    max-width: 1200px;
    margin-inline: auto;
}

@media screen and (max-width: 768px) {
    header.navbar-container {
      flex-direction: column;
    }
   
    header.navbar-container .nav-list ul {
      flex-wrap: wrap;
      column-gap: .5rem;
    }
   
    section {
      padding: 1rem 3rem;
    }
   
    section .content {
      flex-direction: column;
      gap: 2rem;
    }
   
    section .content .content-description .title {
      font-size: 3rem;
    }
   
    section .content .content-description p {
      font-size: 1rem;
    }
   
    section .content .content-image {
      order: -1;
    }
  }